<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>0E72347ABAE8D67C1CB567B62B0C8290</string>
	<key>Layout Version</key>
	<integer>0</integer>
</dict>
</plist>
